*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    height: 80px;
    background-color: rgba(239, 244, 252, 0.938);
    box-shadow: 1px 2px 2px rgb(0, 0, 0, 0.88);
}

header img{
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    justify-content: left;
    margin-left: 20px;
}


.menu p{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(39, 38, 38, 0.788);
    justify-content: flex-end;
    margin-right: 50px;
    
}

.menu p:hover{
    text-decoration: underline;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}

.menu{
    display: flex;
}

header .botao{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

.botao #botaoSair{
    background-color: rgb(0,0 ,0 , 0.4);
    border: 1px solid black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    font-weight: 600;
    border-radius: 6%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.botao #botaoSair:hover{
    background-color: rgba(216, 77, 77, 0.904);
    color: white;
    border: 2px solid black;
}

h3{
    text-align: center;
    font-size: 26px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}

* input , select {
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
}

* textarea{
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}

/* Validar paciente*/

.containerValidation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.validarPaciente{
    margin-top: 10px;
    display: flex;
    background-color: rgb(255, 237, 215);
    align-items: center;
    width: 1200px;
    height: 400px;
    border: 3px solid black;
    border-radius: 10px;
    
}

.validarPaciente .buscarPaciente{
    display: flex;
    margin-left: 20px;
}


.buscarPaciente input{
    margin-left: 30px;
}

.validarPaciente .itemBtnValidar{
    display: flex;
    margin-right: 20px;
}

.btnBuscar{
    height: 30px;
    background-color: rgb(199, 196, 196);
    color: black;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 4px;    
}

.btnBuscar:hover{
    background-color: cornflowerblue;
    color: white;
}

.validarPaciente .tabela{
    border: 1px solid black;
    margin-top: 10px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 20px;

}

.tabela th ,td{
    width: 20%;
}

.tabela td{
     text-align: center;
}

.validarPaciente .btnValidar{
    height: 30px;
    background-color: rgb(199, 196, 196);
    color: black;
    border: 1px solid black;
    padding-left:3px;
    padding-right:3px ;
    margin-left: 30px;

    border-radius: 4px;
}

.validarPaciente .btnValidar:hover{
    background-color: rgb(43, 134, 43);
    color: white;
    border: 2px solid black;
}


                    /*Cadastrar vacina*/



.containerCadastrarVacina{
    display: flex;
  
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.cadastrarVacina{
    margin-top: 10px;
    display: flex;
    background-color: rgb(255, 237, 215);
   
    width: 1200px;
    min-height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
    background-color: rgb(247, 244, 244);
    border: 2px solid rgb(0,0 ,0 , 0.4);
    border-radius: 10px;

}

.cadastrarVacina input{
    margin-right: 10px;
}

.cadastrarVacina .btnCadastrar{
    height: 30px;
    background-color: rgb(199, 196, 196);
    color: black;
    border: 1px solid black;
    padding-right: 3px;
    padding-left: 3px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.cadastrarVacina .btnCadastrar:hover{
    background-color: green;
    color: white;
}


.itemCadastrarVacina{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}



        /* Editar vacina */

.containerEditarVacina{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}



.editarVacina{
    margin-top: 10px;
    display: flex;
    background-color: rgb(200, 255, 252);
   
    width: 1200px;
    min-height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
    border: 2px solid rgb(0,0 ,0 , 0.4);
    border-radius: 10px;
    
}

